In [1]:
# In this course we will see:

#Import data
#● Flat files, e.g. .txts, .csvs
#● Files from other software
#● Relational databases

In [47]:
# To get and set working directory in python:

import os

#To get current working drectory:
print(os.getcwd())

#To set current working directory:
os.chdir('C:/Users/stayde/Documents/Python Scripts/Python_5_Files')

C:\Users\stayde\Documents\Python Scripts\Python_7_Files

In [59]:
#To fetch the txt file from local PC: 

BenFranklin = open('TxtFileForTesing.txt', mode = 'r')

In [56]:
#To read the file in Jupyter:

print(BenFranklin.read())

Benjamin Franklin FRS FRSA FRSE (January 17, 1706 [O.S. January 6, 1705][1] – April 17, 1790) was an American polymath and one of the Founding Fathers of the United States.
Franklin was a leading author, printer, political theorist, politician, Freemason, postmaster, scientist, inventor, humorist, civic activist, statesman, and diplomat.
As a scientist, he was a major figure in the American Enlightenment and the history of physics for his discoveries and theories regarding electricity.
As an inventor, he is known for the lightning rod, bifocals, and the Franklin stove, among other inventions.[2] He founded many civic organizations, including the Library Company, Philadelphia's first fire department[3] and the University of Pennsylvania.[4]

In [57]:
#NOTE: Only print will not work here as it will give encoded result. For ex.:

print(BenFranklin)

<_io.TextIOWrapper name='TxtFileForTesing.txt' mode='r' encoding='cp1252'>

In [60]:
#To read just the first line of the file:

BenFranklin.readline()

'Benjamin Franklin FRS FRSA FRSE (January 17, 1706 [O.S. January 6, 1705][1] – April 17, 1790) was an American polymath and one of the Founding Fathers of the United States.\n'

In [26]:
#To close the file:

BenFranklin.close()

In [61]:
# Flat Files:

#Flat files are
#● Text files containing records
#● That is, table data
#● Record: row of fields or a!ributes
#● Column: feature or a!ribute


#File extension
#● .csv - Comma separated values
#● .txt - Text file
#● commas, tabs - Delimiters


#How do you import flat files?
#● Two main packages: NumPy, pandas (Numpy for numbers and Pandas for dataframes)
#● Here, you’ll learn to import:
#● Flat files with numerical data (MNIST)
#● Flat files with numerical data and strings
#(titanic.csv)

In [ ]:
# Manipulating pandas DataFrames:

#● Exploratory data analysis
#● Data wrangling
#● Data preprocessing
#● Building models
#● Visualization
#● Standard and best practice to use pandas

In [63]:
#Importing using pandas:

os.getcwd()

'C:\\Users\\stayde\\Documents\\Python Scripts\\Python_5_Files'

In [2]:
import pandas as pd

#Read csv file and store it:
binary = pd.read_csv('binary.csv', index_col = 0)

print(type(binary))

#To print top 6 rows:

binary.head()

<class 'pandas.core.frame.DataFrame'>

       gre   gpa  rank
admit
0      380  3.61     3
1      660  3.67     3
1      800  4.00     1
1      640  3.19     4
0      520  2.93     4

In [70]:
#To convert dataframe into array:

binary_array = binary.values

print(binary_array)

[[380.     3.61   3.  ]
 [660.     3.67   3.  ]
 [800.     4.     1.  ]
 ...
 [460.     2.63   2.  ]
 [700.     3.65   2.  ]
 [600.     3.89   3.  ]]

In [48]:
# Reading an excel file:

import pandas as pd

Binary_excel = pd.ExcelFile('Binary_Excel.xlsx')

#To print all the sheets inside excel:

print(Binary_excel.sheet_names)

print(type(Binary_excel))

#But as we can see in output, type of Binary_Excel is Excel file. 
#And we have to convert it into dataframe.

['Binary_Excel_1', 'Binary_Excel_2']
<class 'pandas.io.excel.ExcelFile'>

In [82]:
#To store data of sheet 1:

Df1 = Binary_excel.parse('Binary_Excel_1')
Df2 = Binary_excel.parse('Binary_Excel_2')

print(Df1.head())
print(40*'*')
print(Df2.head())

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4
****************************************
   admit  gre   gpa  rank  TestColumn
0      0  380  3.61     3           1
1      1  660  3.67     3           2
2      1  800  4.00     1           3
3      1  640  3.19     4           4
4      0  520  2.93     4           5

In [4]:
#OR instead of giving sheet names, we can also give index number (instead of sheet names) and fetch the data:

Df3 = Binary_excel.parse(0)
Df4 = Binary_excel.parse(1)

print(Df3.head())
print(40*'*')
print(Df4.head())

NameError: name 'Binary_excel' is not defined

In [50]:
# So we have used two commands to import excel sheet and to create dataframe: we have first imported whole excel and
# then in the second step created dataframe for the respective excel sheet.

# If we want to import the excel sheet directly as a datframe, we can use follwing command:

Df15 = pd.read_excel('Binary_excel.xlsx', sheetname = 0)

#sheetname represents index number of the sheets which starts from 0.

print(type(Df15))

Df15.head()

<class 'pandas.core.frame.DataFrame'>

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [51]:
#Suppose we want to import whole excel (instead of one sheet) and store it as dictionary:


import pandas as pd

import os

print(os.getcwd())

print(os.chdir('C:/Users/stayde/Documents/Python Scripts/Python_5_Files'))

data = pd.read_excel('Binary_Excel.xlsx', sheetname = None)

print(type(data))

#So as shown in output, we can see that type of data is Dictionary

#To print sheetnames, we can use keys as follows (its is applicable only for 'read_excel' function not for 'ExcelFile') :  
print(data.keys())

#print(data)

#Now if we have to print head of first sheet:

#By sheetname:
print(data['Binary_Excel_1'].head())

C:\Users\stayde\Documents\Python Scripts\Python_5_Files
None
<class 'collections.OrderedDict'>
odict_keys(['Binary_Excel_1', 'Binary_Excel_2'])
   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [15]:
#Lets check the readExcel function we used before for revision and comparison with read_excel:

Binary_excel = pd.ExcelFile('Binary_Excel.xlsx')

print(type(Binary_excel))

#To print all the sheets inside excel:

print(Binary_excel.sheet_names)

<class 'pandas.io.excel.ExcelFile'>
['Binary_Excel_1', 'Binary_Excel_2']

In [17]:
# More experiments while importing excel:

import os

print(os.getcwd())

os.chdir('C:/Users/stayde/Documents/Python Scripts/Python_7_Files')

C:\Users\stayde\Documents\Python Scripts\Python_7_Files

In [18]:

data = pd.read_excel("TREND01-5G-educ-fertility-bubbles.xls")

type(data)

pandas.core.frame.DataFrame

In [21]:
data.head()

#From output we can see that python by default considers first sheet while importing.
#So we dont need to specify sheetname for importing first sheet.
#Lets check how to import second sheet:

,"Sources: UNESCO Institute for statistics ; World Bank, World Development Indicators online database ; United Nations Population Division ; Gapminder.org, 2010. Data: 2000 to 2009.",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,SEE FOLLOWING SHEETS FOR RAW DATA AND LINKS,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,Fertility versus female literacy by country,NaN,NaN,NaN,NaN
4,NaN,NaN,most recent value,NaN,NaN

In [38]:
df20 = pd.read_excel('TREND01-5G-educ-fertility-bubbles.xls', sheetname = 'UNESCO-literacy-RAW data')
print(type(df20))
df20.head()

<class 'pandas.core.frame.DataFrame'>

,ADULT FEMALE LITERACY (%),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,"Source: UNESCO Institute for statistics, onlin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LINK: http://stats.uis.unesco.org/unesco/Table...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://stats.uis.unesco.org/unesco/TableViewer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
#We can also pass index number in the sheetname instead of sheetname as follows:
# Index start from 0:

df25 = pd.read_excel('TREND01-5G-educ-fertility-bubbles.xls', sheetname = 1)
print(type(df25))
df25.head()

<class 'pandas.core.frame.DataFrame'>

,ADULT FEMALE LITERACY (%),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,"Source: UNESCO Institute for statistics, onlin...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LINK: http://stats.uis.unesco.org/unesco/Table...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://stats.uis.unesco.org/unesco/TableViewer...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# How to use skiprows command to skup first few rows in excel while importing:
# We need to consider first sheet of the excel as dataframe and also we need to skip first 7 rows:
#By default python takes first sheet, still mentioning here:

df40 = pd.read_excel('TREND01-5G-educ-fertility-bubbles.xls', sheetname = 0, skiprows = 7)

df40.head()

    Country  Continent female literacy fertility    population
0      Chine       ASI            90.5     1.769  1.324655e+09
1       Inde       ASI            50.8     2.682  1.139965e+09
2        USA       NAM              99     2.077  3.040600e+08
3  Indonésie       ASI            88.8     2.132  2.273451e+08
4     Brésil       LAT            90.2     1.827  1.919715e+08

In [52]:
#Suppose we want to skip only specific row, suppose 7th row, which has column names:

df40 = pd.read_excel('TREND01-5G-educ-fertility-bubbles.xls', sheetname = 0, skiprows = [7])

df40

#SO in output we can see that names of columns which were present in 7th row have been deleted

FileNotFoundError: [Errno 2] No such file or directory: 'TREND01-5G-educ-fertility-bubbles.xls'

In [ ]:
#Primary Key:

#Primary key is the column in the table which has all the unique values.

#A primary key is a special relational database table column (or combination of columns) designated to uniquely identify all table records.

#A primary key’s main features are:

#It must contain a unique value for each row of data.
#It cannot contain null values.
#A primary key is either an existing table column or a column that is specifically generated by the database according to a defined sequence

In [ ]:
# Data extraction from SQLite database is mentioned in the next videos in this course, so notes are not made for the same.